$light: #fff;
$light2: #eee;
$medium: #6b6282;
$dark: #231f34;
$accent: #fb9c21;
$error: #fea7a7;
$active: #54e390;
$info: #a8e6f8;

$darkMask: rgba(0, 0, 0, 0.1);

$mobile: 768px;

$sidespace: 70px;
$sidespaceMobile: 20px;
$footerHeight: 50px;

$scrollerWidth: 150px;
$scrollerMargin: 10px;

$normalText: 24px;
$smallText: 18px;
$bigText: 30px;

